RANDFILE             = $ENV::HOME/.rnd

dir                  = ./CA-data
extensions           = curveball_cert_rqst
x509_extensions      = curveball_cert_rqst

[req]
default_bits         = 2048
distinguished_name   = req_dn
req_extensions       = curveball_cert_rqst
prompt               = no

[ req_dn ]
C                    = US
ST                   = Massachusetts
L                    = Cambridge
O                    = Raytheon BBN Technologies
OU                   = BUA
1.OU                 = Curveball
CN                   = Curveball-NOC

[ curveball_cert_rqst ]

basicConstraints     = critical,CA:TRUE
keyUsage	     = critical,keyCertSign,cRLSign
subjectKeyIdentifier = hash
subjectAltName       = email:Curveball-NOC@example.com

